@{
    ViewBag.Title = "About Finance University";
}
<h2>@ViewBag.Title.</h2>
<h3>
    A place for learning, discovery, innovation, expression and discourse
</h3>

<p>We seek to develop in each member of the Finance University the ability and passion to work wisely, creatively, and effectively for the betterment of humankind.</p>
