@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Finance University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Finance University</h2>
        <p>
            A place for learning, discovery, innovation, expression and discourse.
        </p>
    </div>
    <div class="col-md-4">
        <h2> College Management System</h2>
        <p>Full access, be careful.</p>
    </div>
</div>
