@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; //SHared layout
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            .table th {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }

            .table th, .table td {
                padding: 5px;
                border: 1px solid #ccc;
            }
    </style>
</head>
<body>
    <div ng-app="MyApp" ng-controller="MyController">
        <table id="tblCourses" class="table" cellpadding="0" cellspacing="0">
            <tr>
                <th style="width:100px">Course ID</th>
                <th style="width:150px">Title</th>
                <th style="width:100px"></th>
            </tr>
            <tbody ng-repeat="m in Courses">
                <tr>
                    <td><span>{{m.CourseID}}</span></td>
                    <td>
                        <span ng-hide="m.EditMode">{{m.Title}}</span>
                        <input type="text" ng-model="m.Title" ng-show="m.EditMode" />
                    </td>
                    <td>
                        <a class="Edit" href="javascript:;" ng-hide="m.EditMode" ng-click="Edit($index)">Edit</a>
                        <a class="Update" href="javascript:;" ng-show="m.EditMode" ng-click="Update($index)">Update</a>
                        <a class="Cancel" href="javascript:;" ng-show="m.EditMode" ng-click="Cancel($index)">Cancel</a>
                        <a href="javascript:;" ng-hide="m.EditMode" ng-click="Delete(m.CourseID)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 150px">
                    Course ID:<br />
                    <input type="text" ng-model="CourseID" style="width:140px" />
                </td>
                <td style="width: 150px">
                    Title:<br />
                    <input type="text" ng-model="Title" style="width:140px" />
                </td>
                <td style="width: 200px">
                    <br />
                    <input type="button" value="Add" ng-click="Add()" />
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope, $http, $window) {
            //Getting records from database.
            var post = $http({
                method: "POST",
                url: "/Course/GetCourses",
                dataType: 'json',
                headers: { "Content-Type": "application/json" }
            });
            post.success(function (data, status) {
                //The received response is saved in Customers array.
                $scope.Courses = data;
            });

            //Adding new record to database.
            $scope.Add = function () {
                if (typeof ($scope.CourseID) == "undefined" || typeof ($scope.Title) == "undefined") {
                    return;
                }
                var post = $http({
                    method: "POST",
                    url: "/Course/InsertCourse",
                    data: "{CourseID: '" + $scope.CourseID + "', Title: '" + $scope.Title + "'}",
                    dataType: 'json',
                    headers: { "Content-Type": "application/json" }
                });
                post.success(function (data, status) {
                    //The newly inserted record is inserted into the Customers array.
                    $scope.Courses.push(data)
                });
                $scope.CourseID = "";
                $scope.Title = "";
            };

            //This variable is used to store the original values.
            $scope.EditItem = {};

            //Editing an existing record.
            $scope.Edit = function (index) {
                //Setting EditMode to TRUE makes the TextBoxes visible for the row.
                $scope.Courses[index].EditMode = true;

                //The original values are saved in the variable to handle Cancel case.
                $scope.EditItem.Title = $scope.Courses[index].Title;
            };

            //Cancelling an Edit.
            $scope.Cancel = function (index) {
                // The original values are restored back into the Customers Array.
                $scope.Courses[index].Title = $scope.EditItem.Title;

                //Setting EditMode to FALSE hides the TextBoxes for the row.
                $scope.Courses[index].EditMode = false;
                $scope.EditItem = {};
            };

            //Updating an existing record to database.
            $scope.Update = function (index) {
                var course = $scope.Courses[index];
                var post = $http({
                    method: "POST",
                    url: "/Course/UpdateCourse",
                    data: '{Course:' + JSON.stringify(course) + '}',
                    dataType: 'json',
                    headers: { "Content-Type": "application/json" }
                });
                post.success(function (data, status) {
                    //Setting EditMode to FALSE hides the TextBoxes for the row.
                    course.EditMode = false;
                });
            };

            //Deleting an existing record from database.
            $scope.Delete = function (courseId) {
                if ($window.confirm("Do you want to delete this row?")) {
                    var post = $http({
                        method: "POST",
                        url: "/Course/DeleteCourse",
                        data: "{CourseID: " + courseId + "}",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" }
                    });
                    post.success(function (data, status) {
                        //Remove the Deleted record from the Customers Array.
                        $scope.Courses = $scope.Courses.filter(function (course) {
                            return course.CourseID !== courseId;
                        });
                    });
                }
            };
        });
    </script>
</body>
</html>